DATABRICKS_HOST=https://...
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_SERVING_ENDPOINT_NAME=your_serving_endpoint_name
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=asclepius
FLASK_RUN_HOST=0.0.0.0
